<hr/>
<p>musicdetails works!</p>
{{musicianName}}
<br/>
<label>Add a Musician: <input #newArtist ></label>
<button type="button" (click)="addNewArtist(newArtist.value)">Add to parent's  musician list</button>


<label>Add a cycle: <input #newcycle/></label>
<button type="button" (click)="addNewCycle(newcycle.value)">add to parent's cycle list</button>

<table>
    <tr>
        <th>movie name</th>
        <th></th>
    </tr>
    <tr *ngFor="let movie of movielist">
        <td>
            {{movie}}
        </td>
        <td>
            <input type="text" value="select" (click)='movieSelected(movie)'/>
        </td>
    </tr>
</table>