<nav class="navbar-light navbar bg-primary">
    <div class="container-fluid">
        <h1 style="">Nitesh properties</h1>
        <div class="d-flex">
            <button class="btn btn-success">Add listing</button>
            <button class="btn btn-danger">Logout</button>
        </div>
    </div>
</nav>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">Nitesh Coding properties</h1>
        <p class="col mb-2 fs-4">You can add property data here free</p>
        <a href="https://www.youtube.com/channel/UC86LpRfFSKuedsJl0GkKAog">Nitesh Khatri</a>
    </div>
</div>

<table class="table table-bordered">
    <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Property title</th>
    <th scope="col">Property Price</th>
    <th scope="col">Property Location</th>
    <th scope="col">Property Details</th>
    <th scope="col">Action</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>dummy data</td>
    <td>dummy data</td>
    <td>dummy data</td>
    <td>dummy data</td>
    <td>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger mx-2">View</button>
        <button class="btn btn-danger mx-2">Delete</button>
    </td>
  </tr>
</tbody>

</table>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>