.card_box{
  width: 200px;
  height: 200px;
  background-color: orange;
}

.item{
  margin: 0 0 10px;
  padding: 10px;
}

.songs {
  background-color: #F7F5F2;
}
.nosongs {
  background-color: #FFA8A8;
  color:#fff;
}

.list_item {
    display:grid;
    grid-template-rows: repeat(var(--rows), var(--height));
    grid-template-columns: repeat(var(--cols), auto);
    list-style:none;
    width:100%;
    padding:0;
    margin:0;
    li {
    border:1px solid lightgray;
    display:flex;
    justify-content:center;
    align-items:center;
  
    &.active {
      background:lightblue !important;
    }
  
    &:hover {
      background:rgba(0,0,0,0.15);
    }
  }
  }


:host{
    color:var(--main-color,red);
}

// start mark
.beginner {color: red}
.intermediate{color: yellow}
.expert { color: green}
.other { color: pink}
// end mark

.danger {
    background: lightcoral;
  }

.greenClass{
    color:green;
}

.italicsClass{
    font-style: italic;
}

.boldClass{
    font-weight: bold;
}

.errorClass{
    color:red;
}


.paragraph{
    color: red;
    font-size: 25px;
}

.anotherParagraph {
  background-color: red;
  color: white;
  padding: 3px;
}

.myExampleStyle{
    color:darkblue;
    font-weight: bold;
}

.myclass{
    color:red;
}


.myBox{
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #36a7ff;
    justify-content: center;
    background: rgb(68,179,198);
    background: linear-gradient(160deg, rgba(68,179,198,1) 0%, rgba(159,241,178,1) 50%, rgb(129, 221, 185) 100%);
}