.greenClass{
    color:green;
}

.italicsClass{
    font-style: italic;
}

.boldClass{
    font-weight: bold;
}

.errorClass{
    color:red;
}


.paragraph{
    color: red;
    font-size: 25px;
}

.anotherParagraph {
  background-color: red;
  color: white;
  padding: 3px;
}

.myExampleStyle{
    color:darkblue;
    font-weight: bold;
}

.myclass{
    color:red;
}


.myBox{
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #36a7ff;
    justify-content: center;
    background: rgb(68,179,198);
    background: linear-gradient(160deg, rgba(68,179,198,1) 0%, rgba(159,241,178,1) 50%, rgb(129, 221, 185) 100%);
}