
<div class="heading">
    <ng-container *ngTemplateOutlet="headerTemplate ? headerTemplate : defaultHeader"></ng-container>
</div>
<div class="body">
    <ng-container *ngTemplateOutlet="bodyTemplate ? bodyTemplate : defaultBody"></ng-container>
</div>
<div class="footer">
    <ng-container *ngTemplateOutlet="footerTemplate ? footerTemplate : defaultFooter"></ng-container>
</div>

<ng-template #headerTemplate>Some header...</ng-template>
<ng-template #bodyTemplate>Some body...</ng-template>
<ng-template #footerTemplate>Some footer...</ng-template>

<!-- <input type="text" [(ngModel)]="color"/>
<div [ngSwitch]="color">
    <div *ngSwitchCase="red">red</div>
    <div *ngSwitchCase="blue">blue</div>
    <div *ngSwitchCase="orange">orange</div>
    <div *ngSwitchCase="pink">pink</div>
    <div *ngSwitchCase="cyan">cyan</div>
    <div *ngSwitchDefault>This is a default</div>
</div> -->

<input type="text" [(ngModel)]="num"/>
<div [ngSwitch]="num">
    <div *ngSwitchCase="1">One</div>
    <div *ngSwitchCase="2">Two</div>
    <div *ngSwitchCase="3">Three</div>
    <div *ngSwitchCase="4">Four</div>
</div>

<label>
    <input [(ngModel)]='selected' type='checkbox'/>
    Me
</label>

<div *ngIf="selected">
    nitesh khatri is checked
</div>

<ng-container
  *ngIf="isLoggedIn; then loggedIn; else loggedOut">
</ng-container>

<ng-template #loggedIn>
  <div>
    Welcome back, friend.
  </div>
</ng-template>
<ng-template #loggedOut>
  <div>
    Please friend, login.
  </div>
</ng-template>



<ul *ngFor="let data of httpdata">
    <li>
        <h3>Name: {{data.name}}
        </h3> 
        <p>{{data.address.city}}</p>
        <button (click)="btnRemoveJSON(data.id)">Remove</button>

    </li>
</ul>

{{todaydate}}

<h1>Custom Pipe</h1>
<b>Square root of 25 is: {{25 | sqrt}}</b>
<br/>
<b>Square root of 729 is: {{729 | sqrt}}</b>

<div style = "width:100%;clear:both;">  
    <div style = "border:solid 1px black;">  
      <h1>Uppercase Pipe</h1>  
      <b>{{title | uppercase}}</b><br/>  

      <h1>Lowercase Pipe</h1>  
      <b>{{title | lowercase}}</b>  

      <h1>Currency Pipe</h1>  
      <b>{{6589.23 | currency:"INR"}}</b><br/>  
      <b>{{6589.23 | currency:"INR":true}}</b>   


      <h1>Date pipe</h1>  
      <b>{{todaydate | date:'dd/M/yyy'}}</b><br/>  
      <b>{{todaydate | date:'shortTime'}}</b>  


      <h1>Decimal Pipe</h1>  
      <b>{{ 454.78787814 | number: '3.4-4' }}</b> 
    </div>  
    <div style = "border:solid 1px black;">  
      <h1>Json Pipe</h1>  
      <b>{{ jsonval | json }}</b>  

      <h1>Percent Pipe</h1>  
      <b>{{00.54565 | percent}}</b>  

      <h1>Slice Pipe</h1>  
      <b>{{months | slice:2:6}}</b>  
    </div>  
  </div>   
<br/>
<p>Product status <strong>{{productStatus}}</strong></p>

<!-- <app-child *ngFor="let product of products" [friend]="friend" [product]="product" (status)="onStatus($event)"></app-child> -->

<!-- // child component  -->
<app-child  [cricket]="cricketData" [friends]="friendsTwo" [products]="products" [family]="familyText" [foods]="foodItem"></app-child>

<!-- <button type="button" class="{{visible : 'btn-primary' : 'btn-success'}}" (click)="showhideUtility()">{{buttonTitle}}</button>
<app-child *ngIf="!visible" [childMsg]="parentMsg" ></app-child> -->

<!-- // One parameter -->
<p>{{ "Arun" | userfullname :"kumar"}}</p>    

<!-- // two parameter -->
<p>{{ "Arun" | userfullname : "kumar" : "gudelli" }}</p>    

<h2>{{'nitesh khatri' | shortname}}</h2>

<h1>
    Date: {{dateToday}}
    <br/>

    Date Pipe: {{ dateToday | date | uppercase}}<br>
    <br/>
    Date Pipe: {{ dateToday | date: 'short' | lowercase}} <br>
    <br/>
    Name: {{ name | uppercase}} <br>

    <br/>
    Name: {{ name | slice:6}}
</h1>

<button (click)="showDataTwo()">Show Data</button>
<button (click)="noShowData()">Show Empty Data</button>
<button (click)="btnResetData()">Reset Data</button>
<div *ngFor="let item of testing">
    {{item.name}}
</div>
<div *ngIf="(testing)?.length === 0">no testing</div>
<hr/>

<button (click)="showData()">Show Data</button>
<button (click)="showEmptyData()">Show Empty Data</button>
<button (click)="btnReset()">Reset</button>

<div *ngFor="let item of results">
    {{item.name}}  {{item.icon}}  {{item.dob}}
</div>
<div *ngIf="(results)?.length === 0">no results</div>

<hr/>

<ul class="list_item">
    <li *ngFor="let item of state" (click)="toggleActive($event)">
        {{item}}
        <button (click)="btnRemove()">Remove</button>
    </li>
</ul>

<ul>
    <li *ngFor="let item of family">
        <ng-container *ngTemplateOutlet="listTemplate;context:{showIcon:false,showImageTwo:true,listItem:item}"></ng-container>
    </li>
</ul>

<ul>
    <li *ngFor="let item of collegefriends">
        <ng-container *ngTemplateOutlet="listTemplate;context:{showIcon:true,showImageTwo:false,listItem:item}"></ng-container>
    </li>
</ul>

<p>nitesh khatri</p>
<input type="color" (change)="handleColorChange($event.target.value)"/>

<ul>
    <li *ngFor="let item of friends">
        <ng-container *ngTemplateOutlet="listTemplate;context:{showIcon:true,showImageTwo:false,listItem:item}"></ng-container>
    </li>
</ul>
<hr/>
<ul>
    <li *ngFor="let item of colleague">
        <ng-container *ngTemplateOutlet="listTemplate;context:{showIcon:false,showImageTwo:true,listItem:item}"></ng-container>
        <button>Click</button>
    </li>
</ul>

<ul>
    <li *ngFor="let item of harryList">
        <ng-container *ngTemplateOutlet="listTemplate;context:{showIcon:false,showImageTwo:false,listItem:item}"></ng-container>
        <button>Click</button>
    </li>
</ul>
<hr/>
<ul>
    <li *ngFor="let item of samList">
        <ng-container *ngTemplateOutlet="listTemplate;context:{showIcon:false,showImageTwo:false,listItem:item}"></ng-container>
        <button>Click</button>
    </li>
</ul>


<ng-template let-showIcon="showIcon" let-listItem="listItem"  let-showImageTwo="showImageTwo" #listTemplate>
    <span *ngIf="showIcon">+</span> 
    {{listItem}}
    <span *ngIf="showImageTwo">image</span>
</ng-template>

<ul>
    <li *ngFor="let mark of marks">
        <div [ngClass]="getClassTwo(mark)">{{mark}}</div>
    </li>
</ul>

<div [class.danger]="conditionexample">Deserunt excepteur cillum cupidatat tempor deserunt ex culpa dolore Lorem id pariatur. Commodo nisi laboris pariatur do adipisicing quis tempor pariatur incididunt proident. Et dolore exercitation sint sit.

Ullamco sit non fugiat fugiat dolore. Cillum nostrud eu labore nulla tempor aute non labore tempor eu officia sint ullamco nisi. Anim elit proident et ad labore cillum laboris ullamco occaecat. Ullamco nulla exercitation nulla reprehenderit sint nostrud consectetur aliqua cupidatat ipsum dolore. Ea ullamco amet ea culpa in est dolore enim cillum anim enim.</div>
<button (click)="flagTwo = !flagTwo">Change</button>
<div [ngClass]="flagTwo ? 'primary' : 'secondary'">Some text</div>

<button [ngStyle]="{backgroundColor:'gray'}">Button</button>

<div [ngClass]="{'class1':!condition,'class2':condition}">class 1 and 2</div>

<div [ngClass]="{'first second': true}">12 conditioanl</div>
<div [ngClass]="'first second'">12</div>
<div [ngClass]="{first:true,second:true,third:false}">123</div>


<button [ngClass]="[checkedClass ? 'btn-primary' : 'btn-secondary']">Toggle greeting 3</button>
<button [ngClass]="checkedClass ? 'btn-primary' : 'btn-secondary'">Toggle greeting 2</button>
<button class="{{toggleOnTxt ? 'btn-primary' : 'btn-secondary'}}" (click)="btnToggleOnOff()">Toggle Greetings</button>
<div *ngIf="!toggleOnTxt">
    <h2>Hello</h2>
    <p>Good morning to you</p>
    </div>
    <hr>
    <p>Today is Friday and this is a dummy text element to make you feel better</p>
    <p>Understanding the ngIf directive with the else clause</p>

<div class="row">
    Show <input type="checkbox" [(ngModel)]="showMe" />
  </div>

  <p *ngIf="showMe">
    ShowMe is unchecked
  </p>

  <hr/>



<div *ngIf="condition; then thenBlock1 else elseBlock1"> 
    This content is not shown
</div>
 
<ng-template #thenBlock1>
    content to render when the condition is true.
</ng-template>
 
<ng-template #elseBlock1>
    content to render when condition is false.
</ng-template>

<hr/>


<div *ngIf="isValid;else other_content">
    content here ...
</div>
<ng-template #other_content>other content here template...</ng-template>

<div *ngIf="!isValid">
    other content here...
   </div>

<div *ngIf="condition; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    Content to render when condition is true.
</ng-template>
<ng-template #elseBlock>
    Content to render when condition is false.
</ng-template>

<img *ngIf="showImage" width="300" alt="Angular Logo" src="https://www.fillmurray.com/640/360" />
<button (click)="btnToggleImg()">Click Toggle Image</button>

<button (click)="add()">add</button>
<p *ngFor="let num of numbers;let i=index;">
    <button (click)="remove(index)">Remove</button>
    - value {{num}}, index {{index}}
</p>

<app-apple (onInitEvent)="receiveAutoMsgHandler($event)" (childButtonEvent)="receivedMessageHandler($event)"
    [description]="description" [childMsg]="parentChildMsgs" (childBtnEventTxt)="receivedMsg($event)">
</app-apple>

<label><u>In the below box, message will load automatically from child when it is initialized.</u></label>
<br />
{{msgOnChildCompInit}}
<hr />
In the below box, message will appear when user click on the button from the child component.
<br />
{{msgOnButtonClick}}
<hr />
{{msgComponentTxt}}
<!-- <form [formGroup]="form">
    single select
    <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <br><br>
    static multiple
    <select multiple>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <br><br>
    Dynamic
    <button (click)="multiple = !multiple">Toggle</button>
    <select [multiple]="multiple" formControlName="dynamic">
        <ng-container *ngTemplateOutlet="options"></ng-container>
    </select>
    <ng-template #options>
        <option *ngFor="let opion of [1,2,3]" [value]="option">{{option}}</option>
    </ng-template>
</form> -->

<!-- <div [ngStyle]="{'color':'orange','fontWeight':'bold','fontSize.px':'40'}">Deserunt et amet ex qui cillum ea.</div>

<div [ngStyle]="{'color':'blue'}">Nostrud Lorem in aliquip est laborum elit sit do ut laboris occaecat pariatur.</div>

<div [ngClass]="hasError ? 'errorClass' : 'greenClass'">If hasError is true, the text will be red, else green</div>

<div [ngClass]="styleObject">hello style object</div>

<div [ngClass]="styleArray">Hello World. Array Applied.</div>

<div [ngClass]="'greenClass italicsClass'">Hello World. greenClass and Italics Class Applied</div>

<div [ngClass]="getGreenClass()">hello world nitesh</div>

<button (click)="isActive = !isActive" [style.background]="isActive ? '#4CAF50' : '#f44336'"
    [style.font-size.em]="isActive ? '1.2' : '1'">
    {{isActive ? 't1' : 't2'}}</button>

<p [class.paragraph]="flag">This is paragraph 1.</p>
<p [style.border]="'5px solid red'">This is paragraph 2.</p>

<p [ngClass]="{'paragraph':applyClassP}">This is paragraph 3.</p>
<button (click)="applyClassP = !applyClassP">Click Me</button>

<p [ngStyle]="{'font-weight':applyClassPOne ? 'bold' : 'normal'}">This is paragraph 3.</p>
<button (click)="applyClassPOne = !applyClassPOne">Click Me</button>

<p [ngClass]="getClass()">This is Paragraph.</p>
<button (click)="setClassFlag = !setClassFlag">Click Me</button>

<hr />

<div [class.myExampleStyle]="applyStyle">Nitesh 1</div>
<div [style.color]="applyStyle ? 'cyan' : 'green'">Nitesh 2 </div>
<div [style.fontSize]="applyStyle ? '20px' : '10px'">Nitesh 3</div>

<hr />
<div [class.myclass]="applyClass">Apply class</div>
<div [style.color]="applyClass ? 'blue' : 'orange'">style binding</div>
<hr />

<ng-container *ngIf="sameet">
    <p>Sameet ng-template</p>
</ng-container>
<ng-template [ngIf]="sameet">
    <p>sameet ng-template</p>
</ng-template>
<ng-container *ngIf="nitesh">
    <p>nitesh ng-template</p>
</ng-container>
<ng-template [ngIf]="nitesh">
    <p>nitesh ng-template</p>
</ng-template>

<hr />

<ng-container *ngIf="condition1">
    <p>container 1</p>
</ng-container>
<br>
<ng-template [ngIf]="condition1">
    <p>template 1</p>
</ng-template>

<ng-container *ngIf="condition2">
    <p>container2</p>
</ng-container>
<br>
<ng-template [ngIf]="condition2">
    <p>template2</p>
</ng-template>

<hr />

<p [style.display]="'block'">
    Expression sets display to "block".
    This paragraph is visible.
</p>
<p [style.display]="'none'">
    Expression sets display to "none".
    This paragraph is hidden but still in the DOM.
</p>

<h1 [style.display]="'block'"></h1>

<ng-container *ngIf="todos">
    <div *ngFor="let todo of todos">
        {{todo.content}}
    </div>
</ng-container>
<div>
    <ng-container *ngIf="error">Oops:</ng-container> {{ message }}
</div>

<section *ngIf="isYes else isNo">
    Yes section
</section>
<ng-template #isNo>
    <section>
        No Section
    </section>
</ng-template>

<section *ngIf="isAllowed else otherSection">
    Nitesh Section
</section>
<ng-template #isAllowed>
    <section>
        Other Section
    </section>
</ng-template>

<ul *ngIf="isVisible">
    <li *ngFor="let item of friendslist">
        {{item.name}} is {{item.age}} years old
    </li>
</ul>

<button (click)="hideList()">
    Click to {{showhideText}} List
</button>

<h2>Two-way Binding Example</h2>
<input [(ngModel)]="fullName" /> <br /><br />
<p> {{fullName}} </p>

<button class="btn" (click)="showToggle()" [ngClass]="classToggled ? 'btn-success' : 'btn-danger'">
    {{txtChange ? 'HIDE' : 'SHOW'}}
</button>
<div *ngIf=" showNew">
    <h2>Heading title 1</h2>
    <h2>Heading title 2</h2>
</div> -->

<!-- <app-hero (nameEvent)="nameEventHander($event)" (phoneEvent)="phoneEventHander($event)"></app-hero>
<app-address (nameEvent)="nameEventHander($event)" (phoneEvent)="phoneEventHander($event)"></app-address> -->

<!-- <button (click)="start()">start</button>
<button (click)="stop()">stop</button> -->

<!-- <h1>This is the parent component !</h1>
<h2>It wants to say "Hello" to its child.</h2>
It also wants to receive a response from its child.
{{receivedChildMessage}}
{{receivedChildMessage2}}
<button (click)="sendToChild('Hello Child!')">Send to Child</button>
<app-lime [dynamicdata]="dynamicdata" [staticdata]="staticdata" (buttonSend)="ClickOut($event)" [item]="currentItem"
    [StepMsg]="TextStep" [receivedParentMessage]="messageToSendP" (msgToEmit)="getMsg($event)">
</app-lime>

<div class="wrapper">

    <form [formGroup]="myFormGrp">
        <div class="formGroupWrap" [formGroupName]="fg.formGrpName" *ngFor="let fg of FORM_DATA">
            <h4>{{fg.formGrpLabel}}</h4>
            <div *ngFor="let fc of fg.formControls">

                <ng-container [ngSwitch]="fc.type">
                    <ng-container *ngSwitchCase="'text'">

                        <mat-form-field>
                            <mat-label>{{fc.label}}</mat-label>
                            <input matInput [formControlName]="fc.name" [name]="fc.name" />
                        </mat-form-field>

                    </ng-container>
                    <ng-container *ngSwitchCase="'textarea'">

                        <mat-form-field>
                            <mat-label>{{fc.label}}</mat-label>
                            <textarea matInput [formControlName]="fc.name" [name]="fc.name"></textarea>
                        </mat-form-field>

                    </ng-container>
                    <ng-container *ngSwitchCase="'checkbox'">

                        <mat-checkbox [formControlName]="fc.name">{{fc.label}}</mat-checkbox>

                    </ng-container>
                </ng-container>
            </div>
        </div>
    </form>
    <div><button (click)="enableDisableFormGroup ('disable1')">Disable Form Group 1</button></div>
    <div><button (click)="enableDisableFormGroup('disable2')">Disable Form Group 2</button></div>
    <div><button (click)="enableDisableFormGroup('enable1')">Enable Form Group 1</button></div>
    <div><button (click)="enableDisableFormGroup('enable2')">Enable Form Group 2</button></div>
    <div><button (click)="enableDisableFormGroup('reset1')">Reset Form Group 1</button></div>
    <div><button (click)="enableDisableFormGroup ('reset2')">Reset Form Group 2</button></div>
    <div><button (click)="addControl()">Add New Group with Control</button></div>
    <div><button (click)="getValues()">Get Value</button></div>
</div>

<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img-fluid" src="
                https://reviverestore.org/wp-content/uploads/2017/05/placeholder-image-cropped.jpg"
                alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class="img-fluid" src="
            https://reviverestore.org/wp-content/uploads/2017/05/placeholder-image-cropped.jpg"
            alt="Random first slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="img-fluid" src="
            https://reviverestore.org/wp-content/uploads/2017/05/placeholder-image-cropped.jpg"
            alt="Random first slide">
    </ng-template>
</ngb-carousel>

<button type="button" class="btn btn-outline-secondary mr-2" ngbTooltip="I am Bootstrap Tooltip">
    Bootstrap Tooltip
</button>

<div class="form-group">
    <input type="text" placeholder="Search here" class="form-control" [(ngModel)]="country">
</div>
<ul>
    <li *ngFor="let count of countries | filter:country">
        {{count.name}}
    </li>
</ul>

<div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
</div>
<table class="table">
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of filterData | filter:term">
            <td>
                {{item.firstName}}
            </td>
            <td>
                {{item.lastName}}
            </td>
            <td>
                {{item.address}}
            </td>
        </tr>
    </tbody>
</table>

<div class="myBox" (click)="onClickedOutside($event)" *ngIf="showBox">
    Click outside this box to hide
</div>

<ul *ngFor="let person of people">
    <li *ngIf="person.age < 30">
        {{person.name}} - {{person.age}} - {{person.country}}
    </li>
</ul>

<ul *ngFor="let person of people" [ngSwitch]="person.country">
    <li *ngSwitchCase="'UK'" class="text-success">
        {{person.name}} - {{person.country}}
    </li>
    <li *ngSwitchCase="'USA'" class="text-danger">
        {{person.name}} - {{person.country}}
    </li>
    <li *ngSwitchCase="'HK'" class="text-warning">
        {{person.name}} - {{person.country}}
    </li>
    <li *ngSwitchCase="'MARS'" class="text-danger">
        {{person.name}} - {{person.country}}
    </li>
</ul>



<ng-container *ngIf="isDoneNew;  then iAmDone; else iAmNotDone">
</ng-container>

<ng-template #iAmDone>
    It's Not Done new 1!
</ng-template>

<ng-template #iAmNotDone>
    It's Not Done new 2!
</ng-template>

<hr />

<div *ngIf="!isDone;else elseNotDone">
    It is done!
</div>
<ng-template #elseNotDone>
    It is not done!
</ng-template>

<hr />

<div *ngIf="isLoggedIn; then loggedIn; else loggedOut">
    Welcome back, friend
</div>

<ng-template #loggedOut>
    Please friend, login
</ng-template>

<hr /> -->
<!-- negated variable to achieve "if not" -->
<!-- <div *ngIf="!isLoggedIn">
    Please login, friend
</div> -->

<!-- logic && operator -->
<!-- <div *ngIf="isLoggedIn && !isNewUser">
    Welcome back, friend
</div>
<hr /> -->
<!-- logic OR operator -->
<!-- <div *ngIf="isLoggedIn || isNewUser">
    Welcome!
</div> -->