<app-apple (clickHandlerTwo)="receivedMsg($event)" (onInitEvent)="receiveAutoMsgHandler($event)"
    (childButtonEvent)="receivedMessageHandler($event)" [description]="description" [childMsg]="parentChildMsgs">
</app-apple>

<label><u>In the below box, message will load automatically from child when it is initialized.</u></label>
<br />
{{msgOnChildCompInit}}
<hr />
In the below box, message will appear when user click on the button from the child component.
<br />
{{msgOnButtonClick}}
{{msgComponent}}
<!-- <form [formGroup]="form">
    single select
    <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <br><br>
    static multiple
    <select multiple>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <br><br>
    Dynamic
    <button (click)="multiple = !multiple">Toggle</button>
    <select [multiple]="multiple" formControlName="dynamic">
        <ng-container *ngTemplateOutlet="options"></ng-container>
    </select>
    <ng-template #options>
        <option *ngFor="let opion of [1,2,3]" [value]="option">{{option}}</option>
    </ng-template>
</form> -->

<!-- <div [ngStyle]="{'color':'orange','fontWeight':'bold','fontSize.px':'40'}">Deserunt et amet ex qui cillum ea.</div>

<div [ngStyle]="{'color':'blue'}">Nostrud Lorem in aliquip est laborum elit sit do ut laboris occaecat pariatur.</div>

<div [ngClass]="hasError ? 'errorClass' : 'greenClass'">If hasError is true, the text will be red, else green</div>

<div [ngClass]="styleObject">hello style object</div>

<div [ngClass]="styleArray">Hello World. Array Applied.</div>

<div [ngClass]="'greenClass italicsClass'">Hello World. greenClass and Italics Class Applied</div>

<div [ngClass]="getGreenClass()">hello world nitesh</div>

<button (click)="isActive = !isActive" [style.background]="isActive ? '#4CAF50' : '#f44336'"
    [style.font-size.em]="isActive ? '1.2' : '1'">
    {{isActive ? 't1' : 't2'}}</button>

<p [class.paragraph]="flag">This is paragraph 1.</p>
<p [style.border]="'5px solid red'">This is paragraph 2.</p>

<p [ngClass]="{'paragraph':applyClassP}">This is paragraph 3.</p>
<button (click)="applyClassP = !applyClassP">Click Me</button>

<p [ngStyle]="{'font-weight':applyClassPOne ? 'bold' : 'normal'}">This is paragraph 3.</p>
<button (click)="applyClassPOne = !applyClassPOne">Click Me</button>

<p [ngClass]="getClass()">This is Paragraph.</p>
<button (click)="setClassFlag = !setClassFlag">Click Me</button>

<hr />

<div [class.myExampleStyle]="applyStyle">Nitesh 1</div>
<div [style.color]="applyStyle ? 'cyan' : 'green'">Nitesh 2 </div>
<div [style.fontSize]="applyStyle ? '20px' : '10px'">Nitesh 3</div>

<hr />
<div [class.myclass]="applyClass">Apply class</div>
<div [style.color]="applyClass ? 'blue' : 'orange'">style binding</div>
<hr />

<ng-container *ngIf="sameet">
    <p>Sameet ng-template</p>
</ng-container>
<ng-template [ngIf]="sameet">
    <p>sameet ng-template</p>
</ng-template>
<ng-container *ngIf="nitesh">
    <p>nitesh ng-template</p>
</ng-container>
<ng-template [ngIf]="nitesh">
    <p>nitesh ng-template</p>
</ng-template>

<hr />

<ng-container *ngIf="condition1">
    <p>container 1</p>
</ng-container>
<br>
<ng-template [ngIf]="condition1">
    <p>template 1</p>
</ng-template>

<ng-container *ngIf="condition2">
    <p>container2</p>
</ng-container>
<br>
<ng-template [ngIf]="condition2">
    <p>template2</p>
</ng-template>

<hr />

<p [style.display]="'block'">
    Expression sets display to "block".
    This paragraph is visible.
</p>
<p [style.display]="'none'">
    Expression sets display to "none".
    This paragraph is hidden but still in the DOM.
</p>

<h1 [style.display]="'block'"></h1>

<ng-container *ngIf="todos">
    <div *ngFor="let todo of todos">
        {{todo.content}}
    </div>
</ng-container>
<div>
    <ng-container *ngIf="error">Oops:</ng-container> {{ message }}
</div>

<section *ngIf="isYes else isNo">
    Yes section
</section>
<ng-template #isNo>
    <section>
        No Section
    </section>
</ng-template>

<section *ngIf="isAllowed else otherSection">
    Nitesh Section
</section>
<ng-template #isAllowed>
    <section>
        Other Section
    </section>
</ng-template>

<ul *ngIf="isVisible">
    <li *ngFor="let item of friendslist">
        {{item.name}} is {{item.age}} years old
    </li>
</ul>

<button (click)="hideList()">
    Click to {{showhideText}} List
</button>

<h2>Two-way Binding Example</h2>
<input [(ngModel)]="fullName" /> <br /><br />
<p> {{fullName}} </p>

<button class="btn" (click)="showToggle()" [ngClass]="classToggled ? 'btn-success' : 'btn-danger'">
    {{txtChange ? 'HIDE' : 'SHOW'}}
</button>
<div *ngIf=" showNew">
    <h2>Heading title 1</h2>
    <h2>Heading title 2</h2>
</div> -->

<!-- <app-hero (nameEvent)="nameEventHander($event)" (phoneEvent)="phoneEventHander($event)"></app-hero>
<app-address (nameEvent)="nameEventHander($event)" (phoneEvent)="phoneEventHander($event)"></app-address> -->

<!-- <button (click)="start()">start</button>
<button (click)="stop()">stop</button> -->

<!-- <h1>This is the parent component !</h1>
<h2>It wants to say "Hello" to its child.</h2>
It also wants to receive a response from its child.
{{receivedChildMessage}}
{{receivedChildMessage2}}
<button (click)="sendToChild('Hello Child!')">Send to Child</button>
<app-lime [dynamicdata]="dynamicdata" [staticdata]="staticdata" (buttonSend)="ClickOut($event)" [item]="currentItem"
    [StepMsg]="TextStep" [receivedParentMessage]="messageToSendP" (msgToEmit)="getMsg($event)">
</app-lime>

<div class="wrapper">

    <form [formGroup]="myFormGrp">
        <div class="formGroupWrap" [formGroupName]="fg.formGrpName" *ngFor="let fg of FORM_DATA">
            <h4>{{fg.formGrpLabel}}</h4>
            <div *ngFor="let fc of fg.formControls">

                <ng-container [ngSwitch]="fc.type">
                    <ng-container *ngSwitchCase="'text'">

                        <mat-form-field>
                            <mat-label>{{fc.label}}</mat-label>
                            <input matInput [formControlName]="fc.name" [name]="fc.name" />
                        </mat-form-field>

                    </ng-container>
                    <ng-container *ngSwitchCase="'textarea'">

                        <mat-form-field>
                            <mat-label>{{fc.label}}</mat-label>
                            <textarea matInput [formControlName]="fc.name" [name]="fc.name"></textarea>
                        </mat-form-field>

                    </ng-container>
                    <ng-container *ngSwitchCase="'checkbox'">

                        <mat-checkbox [formControlName]="fc.name">{{fc.label}}</mat-checkbox>

                    </ng-container>
                </ng-container>
            </div>
        </div>
    </form>
    <div><button (click)="enableDisableFormGroup ('disable1')">Disable Form Group 1</button></div>
    <div><button (click)="enableDisableFormGroup('disable2')">Disable Form Group 2</button></div>
    <div><button (click)="enableDisableFormGroup('enable1')">Enable Form Group 1</button></div>
    <div><button (click)="enableDisableFormGroup('enable2')">Enable Form Group 2</button></div>
    <div><button (click)="enableDisableFormGroup('reset1')">Reset Form Group 1</button></div>
    <div><button (click)="enableDisableFormGroup ('reset2')">Reset Form Group 2</button></div>
    <div><button (click)="addControl()">Add New Group with Control</button></div>
    <div><button (click)="getValues()">Get Value</button></div>
</div>

<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img-fluid" src="
                https://reviverestore.org/wp-content/uploads/2017/05/placeholder-image-cropped.jpg"
                alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class="img-fluid" src="
            https://reviverestore.org/wp-content/uploads/2017/05/placeholder-image-cropped.jpg"
            alt="Random first slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="img-fluid" src="
            https://reviverestore.org/wp-content/uploads/2017/05/placeholder-image-cropped.jpg"
            alt="Random first slide">
    </ng-template>
</ngb-carousel>

<button type="button" class="btn btn-outline-secondary mr-2" ngbTooltip="I am Bootstrap Tooltip">
    Bootstrap Tooltip
</button>

<div class="form-group">
    <input type="text" placeholder="Search here" class="form-control" [(ngModel)]="country">
</div>
<ul>
    <li *ngFor="let count of countries | filter:country">
        {{count.name}}
    </li>
</ul>

<div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
</div>
<table class="table">
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of filterData | filter:term">
            <td>
                {{item.firstName}}
            </td>
            <td>
                {{item.lastName}}
            </td>
            <td>
                {{item.address}}
            </td>
        </tr>
    </tbody>
</table>

<div class="myBox" (click)="onClickedOutside($event)" *ngIf="showBox">
    Click outside this box to hide
</div>

<ul *ngFor="let person of people">
    <li *ngIf="person.age < 30">
        {{person.name}} - {{person.age}} - {{person.country}}
    </li>
</ul>

<ul *ngFor="let person of people" [ngSwitch]="person.country">
    <li *ngSwitchCase="'UK'" class="text-success">
        {{person.name}} - {{person.country}}
    </li>
    <li *ngSwitchCase="'USA'" class="text-danger">
        {{person.name}} - {{person.country}}
    </li>
    <li *ngSwitchCase="'HK'" class="text-warning">
        {{person.name}} - {{person.country}}
    </li>
    <li *ngSwitchCase="'MARS'" class="text-danger">
        {{person.name}} - {{person.country}}
    </li>
</ul>



<ng-container *ngIf="isDoneNew;  then iAmDone; else iAmNotDone">
</ng-container>

<ng-template #iAmDone>
    It's Not Done new 1!
</ng-template>

<ng-template #iAmNotDone>
    It's Not Done new 2!
</ng-template>

<hr />

<div *ngIf="!isDone;else elseNotDone">
    It is done!
</div>
<ng-template #elseNotDone>
    It is not done!
</ng-template>

<hr />

<div *ngIf="isLoggedIn; then loggedIn; else loggedOut">
    Welcome back, friend
</div>

<ng-template #loggedOut>
    Please friend, login
</ng-template>

<hr /> -->
<!-- negated variable to achieve "if not" -->
<!-- <div *ngIf="!isLoggedIn">
    Please login, friend
</div> -->

<!-- logic && operator -->
<!-- <div *ngIf="isLoggedIn && !isNewUser">
    Welcome back, friend
</div>
<hr /> -->
<!-- logic OR operator -->
<!-- <div *ngIf="isLoggedIn || isNewUser">
    Welcome!
</div> -->