*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

:host-context(app-root){
    .main_content{
        background-color: #f9f9f9;
        min-height: calc(100vh - 137px);
        padding:50px;
    }
}