.list_item li.active a{
background-color: red;
color:#fff;
}

.success{
    color:green;
}

.danger{
    color:red;
}

.underline{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

.customCSS{
    color:red;
    font-size: 20px;
}