.list_item li.active a{
background-color: red;
color:#fff;
}

.success,.green{
    color:green;
}


.size20{
    font-size: 20px;
}

.danger,.red{
    color:red;
}

.underline{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

.customCSS{
    color:red;
    font-size: 20px;
}

.toggled{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

