<!-- say {{childMsg}} -->

<div class="box_row">
    <div class="box_content">
        <div class="row">
            <div class="col-4 card p-2 mb-3" *ngFor="let foo of foods">
                {{foo.id}}
                {{foo.name}}
                {{foo.price}}
                <button (click)="btnRemove('foods')">Remove</button>
            </div>
        </div>
    </div>
    <div class="box_content">
        <div class="row">
            <div class="col-4 card p-2 mb-3" *ngFor="let friend of friends">
                {{friend.id}}
                {{friend.name}}
                {{friend.price}}
                <button (click)="btnRemove( 'friends')">Remove</button>
            </div>
        </div>
    </div>
    <div class="box_content">
        <div class="row">
            <div class="col-4 card p-2 mb-3" *ngFor="let fam of family" >
                {{fam.id}}
                {{fam.name}}
                <button (click)="btnRemove( 'family')">Remove</button>
            </div>
        </div>
    </div>
</div>



<!-- <button (click)="isActive(true)" [disabled]="enabled">Enabled</button>
<button (click)="isActive(false)" [disabled]="disabled">Disabled</button> -->